section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
div {
    border: 1px solid black;
}
.d4 {
    grid-row-start: 2;
    grid-row-end: 4;
    /* grid-row: 2 / 4;
    grid-row: span 2; */
}
.d5 {
    grid-column-start: 2;
    grid-column-end: 4;
    /* grid-column: 2 / 4;
    grid-column: span 2; */
}