.bg-image {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR132TBAD0-GhGhN8_2Xr-3obkFd4NzFbk6Hg&s);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 200px;
}